# Misc nodejs ignores
node_modules
browser-bundle.js
browser-bundle.min.js
npm-debug.log
*~

# Vim swap file
*.swp

# npm package
*.tgz

# Build directory
build/

# intellij
.idea/

# OSX
.DS_Store
dist/public/js/react-d3.min.js
dist/public/js/react-d3.min.js.map
